In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_excel(r"C:\Users\Admin\Desktop\Saurabh\weather_data_cities.xlsx")

In [5]:
df

          day      city  temperature  windspeed   event
0  2017-01-01  new york         32.0        6.0    Rain
1  2017-01-02  new york         36.0        7.0   Sunny
2  2017-01-03  new york         28.0       12.0    Snow
3  2017-01-04  new york         33.0        7.0   Sunny
4  2017-01-01    mumbai         90.0        5.0   Sunny
5  2017-01-02    mumbai         85.0       12.0     Fog
6  2017-01-03    mumbai         87.0       15.0     Fog
7  2017-01-04    mumbai         92.0        5.0    Rain
8  2017-01-01     paris         45.0       20.0   Sunny
9  2017-01-02     paris         50.0       13.0  Cloudy
10 2017-01-03     paris         54.0        8.0  Cloudy
11 2017-01-04     paris         42.0       10.0  Cloudy

In [6]:
df["city"]

0     new york
1     new york
2     new york
3     new york
4       mumbai
5       mumbai
6       mumbai
7       mumbai
8        paris
9        paris
10       paris
11       paris
Name: city, dtype: object

In [7]:
df.temperature.mean()

56.166666666666664

In [8]:
df.temperature.sum()

674.0

In [9]:
df.temperature.std()

25.04480832912131

In [10]:
df.describe().round()

       temperature  windspeed
count         12.0       12.0
mean          56.0       10.0
std           25.0        5.0
min           28.0        5.0
25%           35.0        7.0
50%           48.0        9.0
75%           86.0       12.0
max           92.0       20.0

In [11]:
df1=pd.read_csv(r"C:\Users\Admin\Desktop\Saurabh\Euro_2012_stats_TEAM.csv")

In [12]:
df1

,Unnamed: 0,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,0,Croatia,4,13,12,51.9%,16.0%,32,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,2,Denmark,4,10,10,50.0%,20.0%,27,1,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,3,England,5,11,18,50.0%,17.2%,40,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,4,France,3,22,24,37.9%,6.5%,65,1,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,5,Germany,10,32,32,47.8%,15.6%,80,2,1,...,10,62.6%,63,49,12,4,0,15,15,17
6,6,Greece,5,8,18,30.7%,19.2%,32,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,7,Italy,6,34,45,43.0%,7.5%,110,2,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,9,Poland,2,15,23,39.4%,5.2%,48,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,10,Portugal,6,22,42,34.3%,9.3%,82,6,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,12,Russia,5,9,31,22.5%,12.5%,59,2,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,13,Spain,12,42,33,55.9%,16.0%,100,0,1,...,15,93.8%,102,83,19,11,0,17,17,18
14,14,Sweden,5,17,19,47.2%,13.8%,39,3,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [13]:
euro12=df1

In [14]:
euro12.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [15]:
euro12.Team.value_counts().sum()

16

In [16]:
euro12.columns

Index(['Unnamed: 0', 'Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

In [17]:
euro12.head()

,Unnamed: 0,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,0,Croatia,4,13,12,51.9%,16.0%,32,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,2,Denmark,4,10,10,50.0%,20.0%,27,1,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,3,England,5,11,18,50.0%,17.2%,40,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,4,France,3,22,24,37.9%,6.5%,65,1,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [18]:
euro12.shape[1]

36

In [19]:
discipline=euro12[["Team","Red Cards","Yellow Cards"]]

In [20]:
euro12.Team==euro12["Red Cards"]=>1

SyntaxError: cannot assign to comparison (1063478610.py, line 1)

In [21]:
discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending = True)

                   Team  Red Cards  Yellow Cards
2               Denmark          0             4
5               Germany          0             4
3               England          0             5
8           Netherlands          0             5
15              Ukraine          0             5
4                France          0             6
12               Russia          0             6
1        Czech Republic          0             7
14               Sweden          0             7
0               Croatia          0             9
13                Spain          0            11
10             Portugal          0            12
7                 Italy          0            16
11  Republic of Ireland          1             6
9                Poland          1             7
6                Greece          1             9

In [22]:
discipline["Yellow Cards"].mean()

7.4375

In [23]:
euro12.head()

,Unnamed: 0,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,0,Croatia,4,13,12,51.9%,16.0%,32,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,2,Denmark,4,10,10,50.0%,20.0%,27,1,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,3,England,5,11,18,50.0%,17.2%,40,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,4,France,3,22,24,37.9%,6.5%,65,1,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [24]:
euro12[euro12.Goals>6]

,Unnamed: 0,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,5,Germany,10,32,32,47.8%,15.6%,80,2,1,...,10,62.6%,63,49,12,4,0,15,15,17
13,13,Spain,12,42,33,55.9%,16.0%,100,0,1,...,15,93.8%,102,83,19,11,0,17,17,18

In [25]:
euro12[euro12.Team.str.startswith("G")]

,Unnamed: 0,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,5,Germany,10,32,32,47.8%,15.6%,80,2,1,...,10,62.6%,63,49,12,4,0,15,15,17
6,6,Greece,5,8,18,30.7%,19.2%,32,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [29]:
first_7_column  = euro12.iloc[:  :7]
first_7_column

,Unnamed: 0,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,0,Croatia,4,13,12,51.9%,16.0%,32,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
7,7,Italy,6,34,45,43.0%,7.5%,110,2,0,...,20,74.1%,101,89,16,16,0,18,18,19
14,14,Sweden,5,17,19,47.2%,13.8%,39,3,0,...,8,61.6%,35,51,7,7,0,9,9,18

In [27]:
first_7_column

,Unnamed: 0,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots
0,0,Croatia,4,13,12,51.9%,16.0%
1,1,Czech Republic,4,13,18,41.9%,12.9%
2,2,Denmark,4,10,10,50.0%,20.0%
3,3,England,5,11,18,50.0%,17.2%
4,4,France,3,22,24,37.9%,6.5%
5,5,Germany,10,32,32,47.8%,15.6%
6,6,Greece,5,8,18,30.7%,19.2%
7,7,Italy,6,34,45,43.0%,7.5%
8,8,Netherlands,2,12,36,25.0%,4.1%
9,9,Poland,2,15,23,39.4%,5.2%
10,10,Portugal,6,22,42,34.3%,9.3%
11,11,Republic of Ireland,1,7,12,36.8%,5.2%
12,12,Russia,5,9,31,22.5%,12.5%
13,13,Spain,12,42,33,55.9%,16.0%
14,14,Sweden,5,17,19,47.2%,13.8%
15,15,Ukraine,2,7,26,21.2%,6.0%

In [30]:
last3column=euro12.iloc[: :-3]

In [31]:
last3column

,Unnamed: 0,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
15,15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
12,12,Russia,5,9,31,22.5%,12.5%,59,2,0,...,10,77.0%,34,43,4,6,0,7,7,16
9,9,Poland,2,15,23,39.4%,5.2%,48,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
6,6,Greece,5,8,18,30.7%,19.2%,32,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
3,3,England,5,11,18,50.0%,17.2%,40,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
0,0,Croatia,4,13,12,51.9%,16.0%,32,0,0,...,13,81.3%,41,62,2,9,0,9,9,16

In [37]:
euro12.loc[euro12.Team.isin(["England","Italy","Russia"]),["Team","Shooting Accuracy"]]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%