In [3]:
print('Hello')

Hello

In [4]:
a=('saurabh',23)

In [5]:
a

('saurabh', 23)

In [6]:
print('hello',a)

hello ('saurabh', 23)

In [11]:
print('hello my name is {}'.format(a))

hello my name is ('saurabh', 23)

In [12]:
b=('abc',21)

In [13]:
type(b)

tuple

In [23]:
print('hello my name {} and im {} '.format(b[0],b[1]))

hello my name abc and im 21

In [26]:
tuple1=("saurabh","sunny",'sid')

print(tuple1)

In [27]:
type(tuple1)

tuple

In [28]:
print(tuple1)

('saurabh', 'sunny', 'sid')

In [29]:
print(tuple1[-1])

sid

In [34]:
print(tuple1[0:2])

('saurabh', 'sunny')

In [35]:
print(tuple1[:2])

('saurabh', 'sunny')

In [37]:
tuple2=('Saurabh','Gavali',23)

In [39]:
type(tuple2)

tuple

In [40]:
len(tuple2)

3

In [41]:
my_tuple = ("hello", [87, 40, 60], "world", (10, 25, 30))

In [46]:
print(my_tuple[1][1],my_tuple[2],my_tuple[3][1],my_tuple[1],my_tuple[3])

40 world 25 [87, 40, 60] (10, 25, 30)

In [47]:
my_tuple = (40, 3, 2, [10, 4])

In [48]:
my_tuple[2] = 10

TypeError: 'tuple' object does not support item assignment

In [49]:
list1=[10,20,50,62,32,45]

In [50]:
list1[2]=60

In [51]:
list1

[10, 20, 60, 62, 32, 45]

In [52]:
my_tuple = (40, 3, 2, [10, 4])

In [55]:
del my_tuple[3] #we cannot delete anything in tuple

TypeError: 'tuple' object doesn't support item deletion

In [56]:
my_tuple = ('math','science','science','python','english')

In [61]:
"python" in my_tuple

True

In [62]:
"python" not in my_tuple

False

In [63]:
print("python" in my_tuple)

True

In [64]:
print("python" not in my_tuple)

False

In [65]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]

In [66]:
my_list

['2', 50, '2', 50, 4, 6, 9, 9]

In [67]:
a=(my_list)

In [68]:
a

['2', 50, '2', 50, 4, 6, 9, 9]

In [69]:
a={my_list}

TypeError: unhashable type: 'list'

In [75]:
my_list= set(my_list)

In [73]:
my_list

{'2', 4, 50, 6, 9}

In [76]:
my_list=set[my_list]

In [77]:
my_list

set[{'2', 50, 4, 6, 9}]

In [78]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]

In [79]:
out_list = list(set(my_list))

In [80]:
print(out_list)

['2', 4, 6, 9, 50]

In [81]:
my_set = {"sara", "mike", "jon", "jon", "mike"}

In [82]:
my_set.append("Saurabh")

AttributeError: 'set' object has no attribute 'append'

In [83]:
my_set.add("saurabh")

In [86]:
newlist=list(set(my_set))

In [88]:
my_set

{'jon', 'mike', 'sara', 'saurabh'}

In [89]:
type(my_set)

set

In [90]:
print(newlist)

['saurabh', 'sara', 'jon', 'mike']

In [91]:
dir(my_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']