Range

In [1]:
a=list(range(0,10,2))
a

[0, 2, 4, 6, 8]

In [13]:
for i in range(1,5+1):
 	print(i)

1
2
3
4
5

In [15]:
for i in reversed(range(10,1,-2)):
    print(i)

2
4
6
8
10

In [27]:
a=set(range(5))
print(a)
b=set(range(10,15))
print(b)

{0, 1, 2, 3, 4}
{10, 11, 12, 13, 14}

In [30]:
c=a.union(b)

In [31]:
c

{0, 1, 2, 3, 4, 10, 11, 12, 13, 14}

In [34]:
for i in enumerate(range(1,5+1)):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [62]:
my_list=['apple','mango','banana','pear','watermelon']

In [76]:
for i in my_list:
    if i =="mango":
        continue
    print(i)

apple
banana
pear
watermelon

In [55]:
my_list=[1,2,3,4,5,6,7,8,9,10]
for i in my_list:
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [60]:
my_list=[1,2,3,4,5,6,7,8,9,10]
for i in my_list:
    if i%2!=0:
        continue
    print(i)

2
4
6
8
10

In [81]:
for i in range(1,5+1):
    for x in range(5,10+1):
        print(i,x)

1 5
1 6
1 7
1 8
1 9
1 10
2 5
2 6
2 7
2 8
2 9
2 10
3 5
3 6
3 7
3 8
3 9
3 10
4 5
4 6
4 7
4 8
4 9
4 10
5 5
5 6
5 7
5 8
5 9
5 10

In [85]:
for i in range(1,10):
    for x in range(1,11+1):
        print('{} * {} = {}'.format(i,x,i*x))
    print("#####")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
1 * 11 = 11
#####
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
#####
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
#####
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
#####
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
#####
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
#####
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
#####
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
#####
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
#####

In [90]:
color=['white','brown','green']
phone=['iphone','galaxy','xiaomi']

In [91]:
for i in color:
    for j in phone:
        print(i,j)

white iphone
white galaxy
white xiaomi
brown iphone
brown galaxy
brown xiaomi
green iphone
green galaxy
green xiaomi

In [95]:
for i in range(10,12+1):
    for j in range(1,12+1):
        print("{} * {} = {}".format(i,j,i*j))
    print("*************")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
*************
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 11 = 121
11 * 12 = 132
*************
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144
*************